.Panel {
    border: 1px solid gray;
}

.Panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid gray;
    background-color: lightgray;
    padding: 7px 10px;
    text-align: left;
}

.Panel-content {
    padding: 7px 10px;
    text-align: left;
}